<div>
	<div style="padding:20px 0px;">
		<form class="form-inline" novalidate>
			<div class="form-group">
				<label>URL:</label>
				<input class="form-control" type="text" ng-model="listPane.addedUrl" placeholder="http://example.com/" />
				<button class="btn" ng-click="listPane.addUrl()" ng-disabled="!listPane.addedUrl">Add</button>
			</div>
		</form>
	</div>
	<table class="table table-condensed" style="margin-bottom:5px;">
		<thead>
			<tr>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="urlInfo in listPane.urlInfos" ng-click="listPane.setSelected(urlInfo)" ng-class="{active: listPane.selectedUrl == urlInfo}" >
				<td>{{urlInfo.url}}</td>
			</tr>
		</tbody>
	</table>
	<div>
		<button class="btn" ng-click="listPane.removeSelectedUrl()" ng-disabled="listPane.selectedUrl == null">Remove</button>
	</div>
</div>

